@model Bid

<form asp-route-id="@Model.BidId" asp-controller="Sell" asp-action="Deleting" method="post">
<p>Would you like to delete @Model.BidName</p>
<button type="submit" class="btn btn-primary btn-sm">Yes</button>
<button asp-controller="Sell" asp-action="Index" type="submit" class="btn-secondary btn-sm">No</button>
</form>