
<div class="container">
    <div class="row">
        <div class="col">
            <h1>
                Item List
            </h1>
        </div>
        <div class="col">
            <h2>
                <a class="justify-content-end" asp-controller="Sell" asp-action="" style="border-right:1px;">Add</a>
            </h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="border-bottom:1px;">
        <div class="col">
         <span>item name</span>
         </div>
        <div class="col" style="border-right:1px;">
            <a class="justify-content-end" asp-controller="Sell" asp-action="" >Edit</a>
            <a class="justify-content-end" asp-controller="Sell" asp-action="" >Delete</a>
         </div>
        
    </div>

</div>