@model IEnumerable<Bid>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>
                Item List
            </h1>
        </div>
        <div class="col">
            <h2>
                <a class="justify-content-end" asp-controller="Sell" asp-action="Add" style="border-right:1px;">Add</a>
            </h2>
        </div>
    </div>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Bid b in Model)
        {
            <tr>
                <th class="cell" scope="row" >@b.BidId</th>
                <td>@b.BidName</td>
                <td>@b.BidDescription</td>
                <td><a asp-route-id="@b.BidId" asp-controller="Sell" asp-action="Edit" class="btn btn-outline-primary">Edit</a>
                    <a asp-controller="Sell" asp-action="Delete" class="btn btn-outline-danger">Delete</a>
                </td>

            </tr>
    }
    </tbody>
</table>
