@model Client
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center text-dark mt-5">Please enter your credentials</h2>
            <div class="card formStyle my-5">

                <form class="card-body cardbody-color p-lg-5" asp-controller="Password" asp-action="PassReset">
                    <input hidden readonly asp-for="ClientUserName">
                    <div class="mb-3">
                        <h5>Please Enter the New Password: </h5>
                        <input asp-for="ClientPassword" type="password" class="form-control" id="Username" aria-describedby="emailHelp"
                               placeholder="Password">
                    </div>
                    <div class="mb-3">
                        <h5>Please Confirm Password: </h5>
                        <input asp-for="ClientRetypePassword" type="password" class="form-control" id="password" placeholder="Retype Password">
                    </div>
                    
                    @if (ViewData["ValidationMessage"] != null)
                    {
                        <h2 style="color:red;">@ViewData["ValidationMessage"]</h2>
                    }

                    <div class="text-center">
                        <button type="submit" class="btn btn-color px-5 mb-5 w-100">Reset</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
