@{
    ViewData["Title"] = "JoseDore";
}
@foreach (Bid b in Model)
{

    
        <div class="card-row">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="~/Images/zara_crop_knit.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">@b.BidName</h5>
                            <p class="card-text">@b.BidCost</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

}
