<div class="form-body">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary btn-rounded">Primary</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary btn-rounded">Primary</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary btn-rounded">Primary</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary btn-rounded">Primary</button>
        </div>
        
    </div>
</div>
