<!DOCTYPE html>
<html lang="en" style="padding:0;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Assignment1Group26</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Assignment1Group26.styles.css" asp-append-version="true" />
</head>
<body class="d-flex">

    <header>
        <nav class="nav-color navbar navbar-expand-lg " style="background-color:#212529;>
            <div class="container-fluid" style="margin:0 150px">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index" style="margin-left:10px;">JoseDore</a>
                <button type="button" class="navbar-toggler navbar-dark" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon "></span>
                </button>
                <div class="collapse navbar-collapse nav-color" id="navbarCollapse">
                    <div class="navbar-nav">
                    @{

                        var currentController = ViewContext.RouteData.Values["controller"].ToString();
                    }
                    @if (currentController != "Registration" && currentController != "Login")
                    {
                        if (base.User.Identity.Name == "Admin")
                        {
                                <a class="nav-item nav-link active" asp-area="" asp-controller="Home" asp-action="Index">Auctioned Items</a>
                                <a class="nav-item nav-link" asp-area="" asp-controller="AccountLookup" asp-action="Index">LookUp an Account</a>
                                <a class="nav-item nav-link" asp-area="" asp-controller="Sell" asp-action="Index">Sellers Items</a>
                                <a class="nav-item nav-link" asp-area="" asp-controller="Profile" asp-action="Profile">My Profile</a>
                        }
                        else
                        {
                                <a class="nav-item nav-link active" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                <a class="nav-item nav-link" asp-area="" asp-controller="Profile" asp-action="Profile">Profile</a>
                                <a class="nav-item nav-link" asp-area="" asp-controller="Sell" asp-action="Index">Sell</a>
                               
                        }
                    }

                        

                    </div>
                    <div class="navbar-nav ms-auto nav-color">
                    @if (base.User.Identity.IsAuthenticated)
                    {
                            <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="Logout" style="margin-right:5px;">Logout</a>

                    }
                    else
                    {

                            <a class="nav-item nav-link" asp-area="" asp-controller="Registration" asp-action="Register" style="margin-right:5px;">Register</a>
                            <a class="nav-item nav-link" asp-area="" asp-controller="Login" asp-action="Login" style="margin-right:5px;">Login</a>

                    }
                        <form asp-controller="Search" asp-action="Search" method="Get" class="navbar-nav ms-auto" id="search">
                        </form>

                    </div>

                </div>

            </div>
        </nav>
    </header>



    <div class="container content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="w-100 py-4 flex-shrink-0">
        <div class="container py-4">
            <div class="row gy-4 gx-5">
                <div class="col-lg-4 col-md-6">
                    <h5 class="h1 text-white">Group Members</h5>
                    <p class="small text-muted">Vedoor Barakat</p>
                    <p class="small text-muted">Josefin Abdulaziz</p>

                </div>
                <div class="col-lg-2 col-md-6">
                    <h5 class="text-white mb-3">Student IDs</h5>
                    <ul class="list-unstyled text-muted">
                        <li>101388514</li>
                        <li>101390844</li>

                    </ul>
                </div>
                <div class="col-lg-2 col-md-6">
                    <h5 class="text-white mb-3">Group Number</h5>
                    <ul class="list-unstyled text-muted">
                        <li>Group 26</li>

                    </ul>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h5 class="text-white mb-3">Sections</h5>
                    <p class="small text-muted">CRN-48622-202202</p>
                    <p class="small text-muted">CRN-48622-202202</p>
                </div>
            </div>
        </div>
    </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
